<style>
  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
</style>

* {
    margin: 12;
    padding: 0;
    box-sizing: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #FFE141, #FF2E68);
  min-height: 100vh;
}

main {
    background: linear-gradient(to bottom, #FF2E68, #FFE141);
    display: inline-block;
    border-radius: 24px;
    margin-top: 10%;
    padding: 8px;
    position: relative; 
  }

.pokedex {
  width: 100%;
  max-width: 425px;
} 

.pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: rgb(131, 7, 233);
    top: 52%;
    right: 25%;
    font-size: clamp(8px, 5vw, 25px);
    
}
.pokemon__name {
      font-family:;
      color:#FF2E68;
      text-transform: capitalize;
}
.pokemon__number {
    color: blue;
}
.form{
  position:absolute;
  width: 60%;
  top: 65%;
  left: 16%;
 
}
.input__search{
  width: 100%;
  padding: 2.5%;
  outline: none;
  border: 3px solid #cf0e0e;
  border-radius: 8px;
  font-weight: 600;
  font-size: clamp(8px, 5vw, 16px);
  color: rgb(44, 40, 40);
  box-shadow: -4px 5px rgba(0, 0, 0, 0.24)
}
.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 50%;
  transform: translate(-56%, 0);
  display: flex;
  gap: 20px;
}

.button{
  width: 50%;
  padding: 5%;
  border: 2px solid  #000000;
  border-radius: 6%;
  font-weight: 00;
  color: rgb(230, 230, 230);
  background-color: #af9797;
  box-shadow: -3px 5px black;
}

.button:active {
  box-shadow: inset -3px 3px  #0000003d;
  font-size: 0.9rem;
}

.bg {
  width: 100%;
  padding: 2.5%;
  outline: none;
  border: 3px solid #cf0e0e;
  border-radius: 8px;
  font-weight: 600;
  font-size: clamp(8px, 5vw, 16px);
  color: rgb(44, 40, 40);
  box-shadow: -4px 5px rgba(0, 0, 0, 0.24)
  
}